<h1> Create an activity </h1>

<%= form_for @activity do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <%= f.submit "Create Activity" %>

<%end%>


#add hidden fields
#choose from destination and add destination
